<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Parear...</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>

    </ion-card-header>
    <ion-card-content>
      <strong><h1>Posicione a câmera do celular sobre o código QR</h1></strong>
    </ion-card-content>
  </ion-card>
  <ion-card>
    
  </ion-card>
  <ion-card>
      <ion-card-content>
        <img src="assets/frame.png" alt="">
      </ion-card-content>
    </ion-card>
    
    
</ion-content>
