<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title id="ttitle">Mural</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
      
      <ion-list lines="none">
        <ion-item-sliding *ngFor="let mural of murais">
          <ion-item tappable routerLink="/tabs">
            <ion-card name="ion-card" id="cardos">
              <ion-card-header>
                <ion-card-title>{{mural.titulo}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                {{mural.texto}}
              </ion-card-content>
              <ion-label>{{mural.created_at}} </ion-label>
            </ion-card>         
          </ion-item>
        </ion-item-sliding>
      </ion-list>
  

  
</ion-content>