<ion-header>
  <ion-toolbar color="verdemud3">
    <ion-icon (click)="Info()" id="mural" name="md-help"></ion-icon>
    <ion-img id="sobre" src="../../assets/sobre.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

      <ion-list lines="none">
        <ion-item-sliding *ngFor="let mural of murais">
          <ion-item tappable routerLink="/tabs">
            <ion-card name="ion-card" id="cardos">
              <ion-card-header>
                <ion-card-title>{{mural.titulo}}</ion-card-title>
                <ion-label>{{mural.created_at}} </ion-label>
              </ion-card-header>
              <ion-card-content>
                {{mural.texto}}
              </ion-card-content>
            </ion-card>         
          </ion-item>
        </ion-item-sliding>
      </ion-list>
  

  
</ion-content>