<ion-header>
  <ion-toolbar color="verdemud3">
    <ion-icon (click)="Info()" id="mural" name="md-help"></ion-icon>
    <ion-img id="sobre" (click)="sobre()" src="../../assets/sobre.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

      <ion-list lines="none">
        <ion-item-sliding *ngFor="let mural of murais">
          <ion-item tappable routerLink="/tabs">
            <ion-card name="ion-card" id="cardos">
              <ion-card-header name="ion-card-header">
                <ion-card-title>{{mural.titulo}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>{{mural.texto}} <br>
                <ion-text style="float: right !important;" id="3"><h4>{{mural.created_at}}</h4></ion-text>
              </ion-card-content>
            </ion-card>         
          </ion-item>
        </ion-item-sliding>
      </ion-list>
  

  
</ion-content>