#logoLogin 
{
    width: 25%;
    margin: 0;
    position: absolute;
    top: 12%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

ion-label {
    color:  #165044ff !important; 
}

p {
    font-size: 0.8em;
    color: #989aa2;
}

ion-slides {
    --bullet-background: #989aa2;
    --bullet-background-active: #165044ff; 
    height: 100%;
    width: 100%;
}