  <ion-content
      [scrollEvents]="true"
      (ionScrollStart)="logScrollStart()"
      (ionScroll)="logScrolling($event)" >

    <ion-img id="logoLogin" src="../../assets/logomud.png"></ion-img>
    <ion-slides>
      <ion-slide id="slide1">
        <ion-list>
            <ion-item padding-horizontal lines="none">
                <ion-label class="label" text-wrap> Alimentação </ion-label>
            </ion-item>
            <ion-card>          
                <ion-card-content> 
                 <form [formGroup]="slide1form">

                    <ion-item padding-horizontal lines="none">
                      <ion-label class="label" position="stacked" text-wrap>1. O quanto você ingeriu de cada tipo de alimento? </ion-label>
                    </ion-item>
                    <ion-item padding-horizontal lines="none">
                        <ion-label class="label" position="stacked" text-wrap>Carboidratos</ion-label>
                        <!--- fazer setinha com exemplos de carboidratos-->
                          <ion-select formControlName="qtdCarboidratos" id="carb" placeholder="Selecionar quantidade" cancelText="Cancelar" okText="Selecionado">
                                <ion-select-option class="option" value="0" >Pouco (1 a 2 dias)</ion-select-option>
                                <ion-select-option class="option" value="1" >Médio (3 a 5 dias)</ion-select-option>
                                <ion-select-option class="option" value="2" >Muito (6 a 7 dias)</ion-select-option>
                          </ion-select>
                    </ion-item>

                    <ion-item padding-horizontal lines="none">
                        <ion-label class="label" position="stacked" text-wrap>Proteínas</ion-label>
                        <!--- fazer setinha com exemplos de carboidratos-->
                          <ion-select formControlName="qtdProteinas" id="prot" placeholder="Selecionar quantidade" cancelText="Cancelar" okText="Selecionado" >
                                <ion-select-option class="option" value="0">Pouco (1 a 2 dias)</ion-select-option>
                                <ion-select-option class="option" value="1">Médio (3 a 5 dias)</ion-select-option>
                                <ion-select-option class="option" value="2">Muito (6 a 7 dias)</ion-select-option>
                          </ion-select>
                    </ion-item>

                    <ion-item padding-horizontal lines="none">
                        <ion-label class="label" position="stacked" text-wrap>Laticínios</ion-label>
                        <!--- fazer setinha com exemplos de carboidratos-->
                          <ion-select formControlName="qtdLaticinios" id="lac" placeholder="Selecionar quantidade" cancelText="Cancelar" okText="Selecionado" >
                                <ion-select-option class="option" value="0">Pouco (1 a 2 dias)</ion-select-option>
                                <ion-select-option class="option" value="1">Médio (3 a 5 dias)</ion-select-option>
                                <ion-select-option class="option" value="2">Muito (6 a 7 dias)</ion-select-option>
                          </ion-select>
                    </ion-item>

                    <ion-item padding-horizontal lines="none">
                        <ion-label class="label" position="stacked" text-wrap>Verduras e frutas</ion-label>
                        <!--- fazer setinha com exemplos de carboidratos-->
                          <ion-select formControlName="qtdVerdFrut" id="verfrut" placeholder="Selecionar quantidade" cancelText="Cancelar" okText="Selecionado">
                                <ion-select-option class="option" value="0">Pouco (1 a 2 dias)</ion-select-option>
                                <ion-select-option class="option" value="1">Médio (3 a 5 dias)</ion-select-option>
                                <ion-select-option class="option" value="2">Muito (6 a 7 dias)</ion-select-option>
                          </ion-select>
                    </ion-item>
                  
                    <br>
                    <ion-item padding-horizontal lines="none">
                        <ion-label class="label" position="stacked" text-wrap>2. Qual a média de copos de água tomados? <br> <p>(Quantidade diária) </p></ion-label>
                          <ion-select formControlName="qtdAgua" id="agua" placeholder="Selecionar quantidade" cancelText="Cancelar" okText="Selecionado">
                                <ion-select-option class="option" value="0">menos de 5 copos </ion-select-option>
                                <ion-select-option class="option" value="1">6 a 11 copos</ion-select-option>
                                <ion-select-option class="option" value="2"> mais de 11 copos</ion-select-option>
                          </ion-select>
                    </ion-item>
                  
                    <br>
                    <ion-item lines="none">
                      <ion-button id="btnVoltar" (click)="volta()" fill="outline" color="verdemud4" slot="start">Voltar</ion-button>
                      <ion-button id="btnProx" (click)="proxSlide1()" fill="outline" color="verdemud4" slot="end">Próximo</ion-button>
                    </ion-item>
                  </form>
                </ion-card-content>
              </ion-card>
            </ion-list>
        </ion-slide>

        <ion-slide id="slide2">
            <ion-list>
                <ion-item padding-horizontal lines="none">
                    <ion-label class="label" text-wrap> Atividade física </ion-label>
                </ion-item>
                <ion-card>          
                    <ion-card-content>
                        <ion-item padding-horizontal lines="none">
                          <ion-label class="label" position="stacked" text-wrap>1. Fez atividade física durante a semana?</ion-label>
                        </ion-item>
                        <ion-radio-group>
                          <ion-item lines="none" padding-horizontal>
                            <ion-label>Sim</ion-label>
                            <ion-radio slot="start" value="sim" id="atv_sim" (ionSelect)="fezAtvd()"></ion-radio>
                          </ion-item>
                          <ion-item lines="none" padding-horizontal>
                            <ion-label>Não</ion-label>
                            <ion-radio slot="start" value="nao" id="atv_nao" (ionSelect)="fezAtvd()" checked></ion-radio>
                          </ion-item>
                        </ion-radio-group>
                            
                      <div id="fezatv" style="display: none;">
                        <ion-list>
                          <ion-item padding-horizontal lines="none">
                            <ion-label class="label" position="stacked" text-wrap>2. Qual a duração média da(s) atividade(s)?</ion-label>
                          </ion-item>
                          <ion-item lines="none">
                            <ion-range (ionFocus)="duracAtv()" (keyup)="duracAtv()" (ionChange)="duracAtv()" id="atv_temp" min="0" max="800" step="200" snaps="true" ticks="false" color="verdemud4" ></ion-range>
                          </ion-item>
                            <ion-label class="label" id="lblTemp" position="fixed"></ion-label>
                        </ion-list>
                        <ion-list>
                          <ion-item lines="none">
                            <ion-label positions="stacked" text-wrap>3. Qual a intensidade da(s) atividade(s)? </ion-label>
                          </ion-item>
                          <ion-radio-group>
                            <ion-item lines="none" padding-horizontal>
                              <ion-label>Leve</ion-label>
                              <ion-radio id="atv_leve" slot="start" checked></ion-radio>
                            </ion-item>
                            <ion-item lines="none" padding-horizontal>
                              <ion-label>Moderado</ion-label>
                              <ion-radio id="atv_moderado" slot="start"></ion-radio>
                            </ion-item>
                            <ion-item lines="none" padding-horizontal>
                              <ion-label>Alto</ion-label>
                              <ion-radio id="atv_alto" slot="start"></ion-radio>
                            </ion-item>
                          </ion-radio-group>
                        </ion-list>
                      </div>

                      <br>
                      <ion-item lines="none">
                        <ion-button id="btnVoltar" (click)="antSlide()" fill="outline" color="verdemud4" slot="start">Voltar</ion-button>
                        <ion-button id="btnProx" (click)="proxSlide2()" fill="outline" color="verdemud4" slot="end">Próximo</ion-button>
                      </ion-item>

                    </ion-card-content>
                </ion-card>
              </ion-list>
        </ion-slide>


            
      <ion-slide id="slide3"> 
        <ion-list>
          <ion-item padding-horizontal lines="none">
              <ion-label class="label" text-wrap> Lazer </ion-label>
          </ion-item>
          <ion-card>
            <ion-card-content>
              <form [formGroup]="slide3form">
                <ion-item padding-horizontal lines="none">
                    <ion-label class="label" position="stacked" text-wrap>1. Você dedicou algum tempo para atividades de lazer?</ion-label>
                  </ion-item>
                  <ion-radio-group>
                    <ion-item lines="none" padding-horizontal>
                      <ion-label>Sim</ion-label>
                      <ion-radio slot="start" value="sim2" id="dedicous" (ionSelect)="dedicou()"></ion-radio>
                    </ion-item>
                    <ion-item lines="none" padding-horizontal>
                      <ion-label>Não</ion-label>
                      <ion-radio slot="start" value="nao2" id="dedicoun" (ionSelect)="dedicou()" checked></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                      
                <br>

                <div id="dedico" style="display: none;">
                  <ion-list>
                      <ion-item padding-horizontal lines="none">
                          <ion-label class="label" position="stacked" text-wrap>2. Quantas vezes? <br> <p> (Quantidade de dias na semana) </p></ion-label>
                            <ion-select placeholder="Selecionar quantidade" cancelText="Cancelar" id="lazer_vezes" okText="Selecionado" formControlName="qtdLazer">
                                  <ion-select-option class="option" value="0" id="0">1 a 2 dias</ion-select-option>
                                  <ion-select-option class="option" value="1" id="1">3 a 5 dias</ion-select-option>
                                  <ion-select-option class="option" value="2" id="2">6 a 7 dias</ion-select-option>
                            </ion-select>
                      </ion-item>

                      <br>

                      <ion-item padding-horizontal lines="none">
                          <ion-label class="label" position="stacked" text-wrap>3. Você geralmente estava acompanhado na realização das atividades?</ion-label>
                        </ion-item>
                        <ion-radio-group>
                          <ion-item lines="none" padding-horizontal>
                            <ion-label>Sim</ion-label>
                            <ion-radio slot="start" value="sim3" id="lazer_sim" (ionSelect)="acomp()"></ion-radio>
                          </ion-item>
                          <ion-item lines="none" padding-horizontal>
                            <ion-label>Não</ion-label>
                            <ion-radio slot="start" value="nao3" id="lazer_nao" (ionSelect)="nacomp()" checked></ion-radio>
                          </ion-item>
                        </ion-radio-group>
                        
                        <ion-item padding-horizontal lines="none"> 
                          <ion-label class="label" position="stacked" text-wrap>Adicione um comentário quanto aos momentos de lazer dessa semana</ion-label>
                        </ion-item>
                        <ion-item lines="none" id="comentLazer"> 
                            <ion-textarea maxLength="150" rows="4" id="comentLazerInput" position="stacked" placeholder="Deixe um comentário..." multiline="4"> </ion-textarea>
                        </ion-item>
                  </ion-list>
                </div>

                <ion-item lines="none">
                  <ion-button id="btnVoltar" (click)="antSlide()" fill="outline" color="verdemud4" slot="start">Voltar</ion-button>
                  <ion-button id="btnProx" (click)="proxSlide3()" fill="outline" color="verdemud4" slot="end">Próximo</ion-button>
                </ion-item>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-slide>

      <ion-slide id="slide4">
        <ion-list>
          <ion-item padding-horizontal lines="none">
              <ion-label class="label" text-wrap> Sono </ion-label>
          </ion-item>
          <ion-card>
            <ion-card-content>
            <form [formGroup]="slide4form">
             <ion-item padding-horizontal>
                <ion-label class="label" position="stacked" text-wrap>1. Que horário você geralmente foi dormir?</ion-label>
                <ion-input type="number" id="hrDormir" placeholder="Horas (1 - 24)" formControlName="horaDormir" min="1" max="24"></ion-input>
                <!--<ion-datetime pickerFormat="HH:mm a" displayFormat="HH:mm a" id="hrDormir" placeholder="Selecione um horário" minuteValues="00, 15, 30, 45" formControlName="horaDormir"></ion-datetime>-->
             </ion-item>

             <br>
             <ion-item padding-horizontal lines="none">
                <ion-label class="label" position="stacked" text-wrap>2. Você despertou durante o sono?</ion-label>
             </ion-item>
             <ion-radio-group>
                <ion-item lines="none" padding-horizontal>
                  <ion-label>Sim</ion-label>
                  <ion-radio slot="start" value="sim4" id="sono_sim" (ionSelect)="despertou()"></ion-radio>
                </ion-item>
                <ion-item lines="none" padding-horizontal>
                  <ion-label>Não</ion-label>
                  <ion-radio slot="start" value="nao4" id="sono_nao" (ionSelect)="despertou()" checked></ion-radio>
                </ion-item>
              </ion-radio-group>

              <br>

              <div id="desperto" style="display: none;">
                  <ion-list>
                      <ion-item padding-horizontal lines="none">
                          <ion-label class="label" position="stacked" text-wrap>3. Quantas vezes? <br> <p> (Vezes durante a semana) </p></ion-label>
                      </ion-item>
                      <ion-item>    
                          <ion-label padding-horizontal class="label" id="mostraVzs" value="3">1</ion-label>
                          <ion-button (click)="menosVzs()"><ion-icon icon="remove"></ion-icon></ion-button>
                          <ion-button (click)="maisVzs()"><ion-icon icon="add"></ion-icon></ion-button>
                      </ion-item>

                      <br>

                      <ion-item padding-horizontal lines="none">
                          <ion-label class="label" position="stacked" text-wrap>4. Acordou precocemente? <p> Sentiu fadiga</p></ion-label>
                        </ion-item>
                        <ion-radio-group>
                          <ion-item lines="none" padding-horizontal>
                            <ion-label>Sim</ion-label>
                            <ion-radio slot="start" value="sim5"  id="sono_sim2" (ionSelect)="fadiga()"></ion-radio>
                          </ion-item>
                          <ion-item lines="none" padding-horizontal>
                            <ion-label>Não</ion-label>
                            <ion-radio slot="start" value="nao5"id="sono_nao2" (ionSelect)="nfadiga()" checked></ion-radio>
                          </ion-item>
                        </ion-radio-group>
                  </ion-list>
                </div>

                <ion-item lines="none">
                  <ion-button id="btnVoltar" (click)="antSlide()" fill="outline" color="verdemud4" slot="start">Voltar</ion-button>
                  <ion-button id="btnProx" (click)="proxSlide4()" fill="outline" color="verdemud4" slot="end">Concluir</ion-button>
                </ion-item>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-slide >
        
    <ion-slide id="slide5">
        <ion-list>
        <ion-card>
          <ion-card-content id="card5"> 
              <ion-item padding-horizontal lines="none">
                  <ion-label class="label" position="stacked" text-wrap>Gostaria de adicionar algum comentário?</ion-label>
               </ion-item>
               <ion-item lines="none" id="comentFinal"> 
                 <ion-textarea maxLength="150" rows="4" id="comentFinalInput" position="stacked" placeholder="Deixe um comentário..." multiline="4"> </ion-textarea>
               </ion-item>

               <ion-item lines="none" id="salvaBtns">
                  <ion-button id="btnVoltar" (click)="antSlide()" fill="outline" color="verdemud4" slot="start">Voltar</ion-button>
                  <ion-button id="btnProx" (click)="salva()" fill="outline" color="verdemud4" slot="end">Concluir</ion-button>
                </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-slide>

  </ion-slides>
  </ion-content>
  


  