#logoLogin 
{
    width: 20%;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

ion-label {
    color:  #165044ff !important; 
}

.label
{
    text-align: justify !important;
}

p {
    font-size: 0.8 em;
    color: #989aa2;
}

ion-item-group {
    font-size: 16px !important;
    flex-basis: auto !important;
    text-align: start;
}

.ion-padding-horizontal {
    padding: 0 16px !important;
}

ion-slides {
    --bullet-background: #989aa2;
    --bullet-background-active: #165044ff; 
    height: relative;
    width: relative;

}


#lbl1
{
    width: 50%;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#comentFinalInput
{
    border-style: inset;
    border-width: 0.5px;
    border-radius: 3px;
    font-family: 'Hero-Regular' !important;
}

#comentLazerInput
{
    border-style: inset;
    border-width: 0.5px;
    border-radius: 3px;
    font-family: 'Hero-Regular' !important;
}

#btnVoltar {
    width: 48%;
    padding-right: 1%;
    padding-left: 1%;
}

#btnProx {
    width: 48%;
    padding-right: 1%;
    padding-left: 1%;
}

#btnConcluir {
    width: 48%;
    padding-right: 1%;
    padding-left: 1%;
}