<ion-header>
    <ion-toolbar color="verdemud3">
      <ion-icon (click)="Mural()" id="mural" name="md-arrow-back"></ion-icon>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <!--<ion-button  padding-horizontal color="verdemud2" id="mural">
    <ion-img src="\assets\aaa.png" id="iconPasta"></ion-img>
    <ion-label id="rs" >Mural</ion-label>   
  </ion-button>-->
  <ion-list>
    <ion-item lines="full">
      <h4>
        Confira algumas dicas para te ajudar a lidar com a ansiedade e a Síndrome do Pânico.
      </h4>
    </ion-item>

    <!-- Ansiedade Card -->
    <ion-card>
      <h3 class="centrao">
        Ansiedade
      </h3>
      <ion-card-content>
        <div>
          <div slot="start">
            <img src="assets/anxiety.png" alt="">
          </div>
          <div slot="end">
            <ion-button shape="round" fill="outline" expand="full" (click)="showModal()">
              Saber Mais...
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Mindfulness Card -->
    <ion-card>
      <h3 class="centrao">
        Mindfulness
      </h3>
      <ion-card-content>
        <div>
          <div slot="start">
            <img src="assets/mindfull.jpg" alt="">
          </div>
          <div slot="end">
            <ion-button shape="round" fill="outline" expand="full" (click)="showModal2()">
              Saber Mais...
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <!--Síndrome do Panico Card-->

    <ion-card>
      <h3 class="centrao">
        Síndrome do Pânico
      </h3>
      <ion-card-content>
        <div>
          <div slot="start">
            <img src="assets/panic.webp" alt="">
          </div>
          <div slot="end">
            <ion-button shape="round" fill="outline" expand="full" (click)="presentAlert()">
              Saber Mais...
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <!--Intolerancia Alimentar Card-->
    <ion-card>
      <h3 class="centrao">
        Intolerância Alimentar
      </h3>
      <ion-card-content>
        <div>
          <div slot="start">
            <img src="assets/allergy.png" alt="">
          </div>
          <div slot="end">
            <ion-button shape="round" fill="outline" expand="full" (click)="presentAlert2()">
              Saber Mais...
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <!--Importancia da atividade Fisica Card-->
    <ion-card>
      <h3 class="centrao">
        Importância da atividade física
      </h3>
      <ion-card-content>
        <div>
          <div slot="start">
            <img src="assets/atividade.png" alt="">
          </div>
          <div slot="end">
            <ion-button shape="round" fill="outline" expand="full" (click)="presentAlert3()">
              Saber Mais...
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <!-- Importância de uma Alimentação Saudável's Card-->
    <ion-card>
      <h3 class="centrao">
        Importância da Alimentação Saudável
      </h3>
      <ion-card-content>
        <div>
          <div slot="start">
            <img src="assets/healthy.jpg" alt="">
          </div>
          <div slot="end">
            <ion-button shape="round" fill="outline" expand="full" (click)="presentAlert4()">

              Saber Mais...
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
