#title
{
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    font-size: 150%;
}


#regSem,#relCri {
    position: relative;
    height: 45%;
    width: 100%;
}
#relCri
{   
    top: 2%;
}
#regSem
{
    top: 5%;
}

#iconAviso,#iconPasta
{
    width: 50%;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#rs, #rc
{
    position: absolute;
    top: 80%;
}

.message{
    text-align: justify ;
}

.marcola{
    height: 17%;
    width: 75%;
    position: relative; 
    font-size: 60%;
    border-bottom-style: dashed;
    margin-top: 1%;
    
}

.marcola1{
    height: 17%;
    width: 75%;
    font-size: 60%;
    margin-top: 1%;
}

.titlec{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 150%;
}



.modals{
    margin-top: 1%;
    height: 17%;
    width: 75%;
    position: relative; 
    font-size: 60%;
    border-bottom-style: dashed
}
.centrao{
    text-align: center;
    padding-bottom: -15%;

}
.modals1{
    margin-top: 2%;
    height: 17%;
    width: 75%;
    position: relative; 
    font-size: 60%;
    border-bottom-style: dashed
}

#bots
{
    height: 20%;
    width: 100%;
}

#sobre
{
    height: 50%;
    right: 1%;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);   
}

#mural
{
  left: 5%;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);  
  font-size: 180%;
}
