

.message{
    text-align: justify ;
}


.titlec{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 150%;
}

#bots
{
    width: 90%;
    height: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5%;
}

.modals{
    margin-top: 1%;
    height: 17%;
    width: 75%;
    position: relative; 
    font-size: 60%;
    border-bottom-style: dashed
}
.centrao{
    text-align: center;
    padding-bottom: -15%;

}
.modals1{
    margin-top: 2%;
    height: 17%;
    width: 75%;
    position: relative; 
    font-size: 60%;
    border-bottom-style: dashed
}
.centrao{
    text-align: center;
    padding-bottom: -15%;

}
.modals1{
    margin-top: 2%;
    height: 17%;
    width: 75%;
    position: relative; 
    font-size: 60%;
    border-bottom-style: dashed
}

.btn1
{
    margin-top: 5%;
    margin-bottom: 2%;
}

#sobre
{
    height: 50%;
    right: 1%;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);   
}

#mural
{
  left: 5%;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);  
  font-size: 180%;
}
