<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Detalhes</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/tab2">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card *ngIf="sono">
    <ion-item>
      <ion-icon name='{{icone}}' slot="start"></ion-icon>
      <ion-label><strong>{{ myId }} </strong></ion-label>
    </ion-item>
    <ion-card-content>
      
      {{sono}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="existe===2">
    <ion-card-header>
      <strong> ERRO!</strong>
    </ion-card-header>
    <ion-card-content>
      Detalhes não disponíveis! O registro se encontra vazio ou foi corrompido.
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="existe===1">
    <ion-card-header>
      <strong> Buscando Dados...</strong>
    </ion-card-header>
  </ion-card>
</ion-content>
<!--opa so para teste dps-->