<ion-content color="branco">

  <ion-img src="assets/logoMudAnalise.png" id="logoLogin"></ion-img>


      <form [formGroup]="formLogin">
        <ion-item id="email" padding-horizontal>
          <ion-label position="stacked">E-mail</ion-label>
          <ion-input formControlName="email" type="email" placeholder="Insira seu email"></ion-input>
          <!--<ng-container *ngFor="let erro of mensagens_validacao.email">
            <span
              *ngIf="formLogin.get('email').hasError(erro.tipo) && (formLogin.get('email').dirty || formLogin.get('email').touched)"
              class="msg-erro">
              {{erro.mensagem}}
            </span>
          </ng-container>-->
        </ion-item>

        <ion-item id="senha" padding-horizontal>
          <ion-label position="stacked">Senha</ion-label>
          <ion-input formControlName="senha" type="password" placeholder="Insira sua senha"></ion-input>
          <!--<ng-container *ngFor="let erro of mensagens_validacao.senha">
            <span
              *ngIf="formLogin.get('senha').hasError(erro.tipo) && (formLogin.get('senha').dirty || formLogin.get('senha').touched)"
              class="msg-erro">
              {{erro.mensagem}}
            </span>
          </ng-container>-->
        </ion-item>
      </form>

      <a routerLink="/esqueci" id="esqSenha">Esqueci a senha</a>

      <ion-button padding-horizontal id="btnEntrar" fill="outline" shape="round" color="escuro" expand="block" (click)="login()">Entrar</ion-button>

      <a routerLink="/cadastro" id="hrefCadast" padding-horizontal >Não possui uma conta? <b> Cadastre-se</b></a>
  <!--     <ion-button style="text-transform: none" fill="clear" routerLink="/esqueci">Esqueci a senha...</ion-button>
          <ion-button expand="block" color="medio" fill="outline" routerLink="/cadastro">Registrar</ion-button>


  <ion-card color="branco">
    <ion-card-content>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/logocti.png">
        </ion-thumbnail>
        <ion-label>Mud 73B 2019</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card> -->
</ion-content>