<ion-content   color="branco">
  <ion-card color="branco">
    <ion-card-content>
      <img src="assets/logoMudAnalise.png" alt="">
    </ion-card-content>
  </ion-card>

  <ion-card color="branco"> 
    <ion-card-content>
      
      <p><strong>Insira seus dados para entrar:</strong></p>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button expand="block" color="escuro" routerLink="/home">Entrar</ion-button>
      <ion-button expand="block" color="medio" fill="outline" routerLink="/cadastro">Registrar</ion-button>
      <!-- <ion-button expand="block" fill="clear">Esqueci a senha</ion-button> -->

    </ion-card-content>
  </ion-card>
  
  <ion-card color="branco">
    <ion-card-content>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/logocti.png">
        </ion-thumbnail>
        <ion-label>Mud 73B 2019</ion-label> 
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>