/* borda verde la */
.sessao-wrap{
    background-color: #165044; //nao sei usar vairaveis do sass k
    padding: 1.5px 0 2px 0;
}

/* parte de tras do slider */
.sessao-slider {
    background-color: #dedede;
}

/* slider em si */
.slider{
    background-color: #f6f6f6 !important;
}

.back-arrow{
    padding-left: 10px;
    font-size: 140%;
}
