<ion-header>
  <ion-toolbar>
    <ion-title>sessoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div *ngIf="hasSessao; else newSessao">
      <!--gerenciar sessao existente-->
      <div id="sessao">
        <h1>dr(a). {{profName}}</h1>
        <p>criada em {{sessCreated}}</p>
        <ion-button (click)="removeSessao()">terminar esta sessao</ion-button>
      </div>
    </div>

    <ng-template #newSessao>
      <!--iniciar nova sessao-->
      <ion-button (click)="startSessao()">Iniciar nova sessao</ion-button>
    </ng-template>

    <ion-button (click)="goBack()"> voltar </ion-button>
</ion-content>
