
<ion-header no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button type="button" (click)="Mural()"> 
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-img id="logoLogin" src="../../assets/logomud.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p id="fufi" padding> MUD é um aplicativo desenvolvido pelos alunos do Colégio Técnico 
    Industrial de Bauru/SP cuja proposta visa desenvolver uma plataforma
    para auxiliar profissionais da área da psicologia na interação com seus
    pacientes, especificamente aqueles que sofrem de síndrome do pânico. <br>
    Os relatórios, desenvolvidos com base no DSM-5 (Manual Diagnóstico e Estatístico de Transtornos Mentais),
    coletam os dados pertinentes ao tratamento e os relacionam
    para apresentá-los de forma mais clara ao profissional, tornando 
    o tratamento mais eficaz.
    
    </p>
</ion-content>
