
#logoLogin 
{
    width: 20%;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

#fufi
{
    text-align: justify;
    text-justify: inter-word;
    font-weight: 100;
    font-size: 18px;
    border: solid 1px;
    border-radius: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color:   #2ca089ff;
}