#logoLogin 
{
    width: 20%;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}


.label {
    color:  #165044ff !important; 
}

.ion-padding-horizontal {
    padding: 0 16px !important;
}

ion-footer {
    text-align: center
}


#btnVoltar {
    width: 48%;
    padding-right: 1%;
    padding-left: 1%;
}

#btnProx {
    width: 48%;
    padding-right: 1%;
    padding-left: 1%;
}

#btnConcluir {
    width: 48%;
    padding-right: 1%;
    padding-left: 1%;
}

#padding-horizontal
{
    color:  #165044ff !important; 
    padding: 0 16px;
}


.LOption{
    white-space: pre-line;
}