<ion-content>
  <ion-img id="logo" src="../../assets/logomud.png"></ion-img>
  <ion-slides>
    <ion-slide>
      <ion-list>
        <ion-card>          
            <ion-card-content>
                <ion-item padding-horizontal>
                    <ion-label class="label" position="stacked" text-wrap>Onde ocorreu a crise?</ion-label>
                    <ion-input type="text" name="situ1" id="situ1" placeholder="Situação 1"></ion-input>
                </ion-item>
                <ion-item padding-horizontal>
                    <ion-label class="label" position="stacked" text-wrap>Quando ocorreu a crise?</ion-label>
                    <ion-datetime backdropDismiss display-format="D MMM, YYYY" name="data_crise" month-names="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro" month-short-names="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez" picker-format="D MMMM YYYY"></ion-datetime>
                </ion-item>
                <ion-item padding-horizontal lines="none">
                    <ion-label class="label" position="stacked" text-wrap>Quanto tempo durou a crise?</ion-label>
                    <ion-range (ionFocus)="mudaLabel()" (keyup)="mudaLabel()" (ionChange)="mudaLabel()" id="tempo" min="0" max="1000" step="200" snaps="true" ticks="false" color="verdemud4" ></ion-range>
                </ion-item>
                <ion-label class="label" id="lblTempo" position="fixed"></ion-label>
            </ion-card-content>
          </ion-card>
        </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <ion-card>          
            <ion-card-content>
                <ion-item padding-horizontal>
                    <ion-label class="label" position="stacked" text-wrap>Qual situação acarretou a crise?</ion-label>
                    <ion-input type="text" name="situ1" id="situ1" placeholder="Situação 1"></ion-input>
                </ion-item>
                <ion-item padding-horizontal>
                    <ion-label class="label" position="stacked" text-wrap>Quais sintomas foram predominantes na crise?</ion-label>
                    <ion-datetime backdropDismiss display-format="D MMM, YYYY" name="data_crise" month-names="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro" month-short-names="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez" picker-format="D MMMM YYYY"></ion-datetime>
                </ion-item>
            </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <ion-card>          
            <ion-card-content>
                <div id="escolhersitu">
                <ion-item padding-horizontal>
                    <ion-label class="label" position="stacked" text-wrap>Qual situação gerou a crise?</ion-label>
                    <ion-select placeholder="Selecionar situação" cancelText="Cancelar" okText="Selecionado">
                        <ion-select-option class="option" value="Situação 1">Situação 1</ion-select-option>
                        <ion-select-option class="option" value="Situação 2">Situação 2</ion-select-option>
                        <ion-select-option class="option" value="Situação 3">Situação 3</ion-select-option>
                    </ion-select>
                </ion-item>
                </div>
                <div id="addsitu" style="display: none;">
                    <ion-item padding-horizontal>
                        <ion-label class="label" position="stacked" text-wrap>Adicionar nova situação?</ion-label>
                        <hr>
                        <ion-input type="text" name="situ" id="situ" placeholder="Situação 1"></ion-input>
                       </ion-item>
                </div>
                <div id="fab">
                    <ion-fab padding-horizontal horizontal="end">
                    <ion-fab-button  size="small" (click)="addsitu()" color="verdemud4">
                        <ion-icon name="add"></ion-icon>
                    </ion-fab-button>
                    </ion-fab>
                    <hr><hr><hr>
                </div>  
                <ion-item padding-horizontal lines="none">
                   <ion-label class="label" position="stacked" text-wrap>Preocupação com a possibilidade de outro ataque:</ion-label>
                   <ion-range (ionFocus)="mudaLabel2()" (keyup)="mudaLabel2()" (ionChange)="mudaLabel2()" id="preocupa" min="0" max="8" step="2" snaps="true" ticks="false" color="verdemud4" ></ion-range>
                </ion-item>
                <ion-label class="label" id="lblGrau" position="fixed"></ion-label>
            </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer>
    <div id="butProx">
        <ion-button id="btnVoltar" (click)="antSlide()" fill="outline" color="verdemud4" slot="start">Voltar</ion-button>
        <ion-button id="btnProx" (click)="proxSlide()" fill="outline" color="verdemud4" slot="end">Próximo</ion-button>
    </div>
</ion-footer>
    


