<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Linha Do Tempo</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Progressão do Paciente</ion-card-title>
      <ion-card-subtitle>
        <strong> 25/04/2019 </strong>
        <!--Vai variar o dia a medida que muda-se o range-->
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-range dualKnobs="true" min="21" max="72" step="3" snaps="true"></ion-range>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
 <ion-card>
   <ion-card-header>
     <ion-card-title>Relatorio da Semana X</ion-card-title>
   </ion-card-header>
   <ion-card-content>
     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam eum iste libero architecto odit nihil ullam. Eum cupiditate voluptatibus, officia quas esse odit voluptas eius, ipsum provident reiciendis minus hic?
   </ion-card-content>
 </ion-card>
</ion-content>