<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Relatório Semanal</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-select placeholder="Selecione uma semana" [(ngModel)]="semKey" (ionChange)="changeOpt();">
    <ion-select-option *ngFor="let sem of semana; index as key;" value="{{key}}">{{sem.data_inicial}}</ion-select-option>
  </ion-select>
  
  <div *ngIf="(((typeof semKey) != 'undefined') && (semKey != null))">
    <h2>Gráicos da semana {{semana[semKey].data_inicial}}</h2>
    <ion-select placeholder="Selecione um gráfico" [(ngModel)]="grafico">
      <ion-select-option value="alim">Alimentação</ion-select-option>
      <ion-select-option value="atvd">Atividade Física</ion-select-option>
      <ion-select-option value="bemes">Bem Estar</ion-select-option>
    </ion-select>
    <p>Observacoes: <br> {{semana[semKey].observacao}}</p>
  </div> -->

</ion-content>
