<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Relatório Semanal</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--seletor de semana-->
  <!--<ion-select placeholder="Selecione uma semana" [(ngModel)]="semKey" (ionChange)="changeOpt();">
    <ion-select-option *ngFor="let sem of semana; index as key;" value="{{key}}">{{sem.data_inicial}}</ion-select-option>
  </ion-select>-->
  
  <div *ngIf="semKey !== null">
    <!--<h2>Gráicos da semana {{semana && semana[semKey].data_inicial}}</h2>-->
    <!--seletor de grafico-->
    <ion-select placeholder="Selecione um gráfico" [(ngModel)]="grafSel" (ionChange)="changeGraf();">
      <ion-select-option value="alim">Alimentação</ion-select-option>
      <ion-select-option value="hidr">Consumno de água</ion-select-option>
      <ion-select-option value="lazr">Lazer</ion-select-option>
      <ion-select-option value="sono">Sono</ion-select-option>
    </ion-select>
    <!--graficos-->
    <div>
      <div id="grafBox" style="visibility: hidden; position: absolute;">
        <canvas #grafico>

        </canvas>
      </div>
      <div id="grafSecBox" style="visibility: hidden; position: absolute;">
        <canvas #grafsec>

        </canvas>
      </div>
    </div>
    
    <!--tooltip-->
    <ion-card *ngIf="tooltip">
      <ion-card-header>
        <ion-card-title>
            {{tooltipData.titulo}}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item *ngFor="let linha of tooltipData.texto">
          {{linha}} <br>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!--observacoes-->
    <ion-card *ngIf="obs">
      <ion-card-header>
        <ion-card-title>
            Observacoes:
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item *ngFor="let semana of obsData">
          <span><b>semana do dia {{semana.semana}}:</b><br>
          {{semana.value}}</span>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- kek -->
  <ion-card>
    <ion-card-content>
      Para melhor visualização dos gráficos, recomendamos a plataforma mudAnálise web.
    </ion-card-content>
  </ion-card>
</ion-content>
