<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Relatório Semanal</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
    <ion-card>
        <ion-card-header>
            Gráfico Semanal I
          </ion-card-header>
        <img src="assets/imagensGraficos/g1.PNG" alt="">

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
       </ion-card>
       <ion-card>
          <ion-card-header>
              Gráfico de Semanal II
            </ion-card-header>
          <img src="assets/imagensGraficos/g2.PNG" alt="">
          <ion-card-content>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita dicta repudiandae, natus a doloremque cumque illum nobis vitae. Minus nulla pariatur aperiam quod quidem? Nemo itaque commodi fuga harum. Maxime.
            </ion-card-content>
    
       </ion-card>
          
    
</ion-content>
