<ion-header>
  <ion-toolbar color="verdemud3">
    <ion-title id="title1">
    Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!----<ion-fab-button> <ion-icon icon="add"> </ion-icon> </ion-fab-button>
    <ion-label> Iniciar sessão </ion-label> <br>
    <ion-fab-button> <ion-icon icon="checkmark"> </ion-icon> </ion-fab-button>
    <ion-label> Sessão </ion-label> <br>--->
  <ion-item id="item1" lines="none" padding-horizontal text-wrap>
    <ion-label position="stacked"> Nome </ion-label>
    <ion-label id="nome" > {{nome}} </ion-label> 
  </ion-item><br>
  <ion-item id="item2" lines="none" padding-horizontal>
    <ion-label position="stacked"> E-mail </ion-label> <br>
    <ion-label id="email"> {{email}} </ion-label> 
  </ion-item><br>
  <ion-item id="item3" lines="none" padding-horizontal >
    <ion-label position="stacked"> Data de nascimento </ion-label> <br>
    <ion-label id="nasc"> {{dtnasc}} </ion-label> 
  </ion-item><br>
  <ion-item id="item4" lines="none" padding-horizontal >
    <ion-label position="stacked"> Celular </ion-label> <br>
    <ion-label id="cel"> {{celular}} </ion-label> 
  </ion-item><br>
  <ion-item id="item5"  padding-horizontal >
    <ion-label position="stacked"> CPF </ion-label> <br>
    <ion-label id="cpf"> {{cpf}} </ion-label> 
  </ion-item><br>

  
  <br><br><br>
     <ion-label padding-horizontal> Contatos </ion-label>
    <ion-card >
      <ion-label> Nome </ion-label> <br>
      <ion-label id="nomecont">  </ion-label> <br>
      <ion-label> Celular </ion-label> <br>
      <ion-label id="celcont">  </ion-label> <br>
    </ion-card>

</ion-content>

<ion-footer> 
  <ion-button>
    Editar Perfil
  </ion-button>
</ion-footer>