<ion-header>
  <ion-toolbar color="verdemud3">
    <ion-title id="title1">
    Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item id="item1" padding-horizontal>
 <ion-label> Nome </ion-label> <br>
 <ion-label id="nome">  </ion-label> <br>
 <ion-label> E-mail </ion-label> <br>
 <ion-label id="email">  </ion-label> <br>
 <ion-label> Data de nascimento </ion-label> <br>
 <ion-label id="nasc">  </ion-label> <br>
 <ion-label> Celular </ion-label> <br>
 <ion-label id="cel">  </ion-label> <br>
 <ion-label> CPF </ion-label> <br>
 <ion-label id="cpf">  </ion-label> <br>
</ion-item>
  <ion-label> Contatos </ion-label>
  <ion-item>
    

  </ion-item>
</ion-content>
