<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button (click)="para()"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="circulofora">
  <div id="circulo" >
    <div class="text">
        <p id="inspire">Inspire</p>
        <p id="expire" style="display: none;">Expire</p>
    </div>
  </div>
  </div>

  <ion-button id="btnParar" (click)="vaiRelatCrise()" fill="outline" color="verdemud4">Parar</ion-button>
</ion-content>



