#circulo {
    border-radius: 100%;
    overflow: hidden;
    height: 100px;
    width: 100px;
    background: #165044ff;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}