<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Ficha do Paciente</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- BIBAR USA ISSO COMO EXEMPLO SE TU QUISER qql coisa so consultar o detalhes-crise -->
  <!--Atividade Fisica-->
  <ion-card *ngIf="atividade">
    <ion-item>
      <ion-icon name='{{icone}}' slot="start"></ion-icon>
      <ion-label><strong>{{ myId }} </strong></ion-label>
    </ion-item>
    <ion-card-content>
      <ion-item>
        <div>
          Fez atividade física:
        </div>
        <div slot="end">
          <strong *ngIf="atividade.realizou">Sim</strong>
          <strong *ngIf="!atividade.realizou">Não</strong>

        </div>
      </ion-item>
      <ion-item *ngIf="atividade.realizou">
        <div>
          Tempo médio de treino:
        </div>
        <div slot="end">
          <strong *ngIf="atividade.tempo==='0'">até 30min</strong>
          <strong *ngIf="atividade.tempo==='200'">de 30min à 1h</strong>
          <strong *ngIf="atividade.tempo==='400'">1h-2hrs</strong>
          <strong *ngIf="atividade.tempo==='600'">2h-3hrs</strong>
          <strong *ngIf="atividade.tempo==='800'">+ de 3hrs</strong>
        </div>
      </ion-item>
      <ion-item>
        <div>
          Intensidade da(s) atividade(s):
        </div>
        <div slot="end">
          <strong *ngIf="atividade.intensidade==='0'">Leve</strong>
          <strong *ngIf="atividade.intensidade==='1'">Moderado</strong>
          <strong *ngIf="atividade.intensidade==='2'">Alto</strong>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>