<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Ficha do Paciente</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>  
    <ion-card-header>
      <ion-card-title>
        {{ paciente.nome }} <!--, {{ paciente.idade}} -->
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="dados-paciente">
      <img src="../../../assets/perfil_generico2.png" alt="" class="img-perfil">
      <div>
        <p>Nascido(a) em:<br> <span class="minor-text">{{ paciente.dt_nasc }}</span> </p>
        <p>Email:<br> <span class="minor-text">{{ paciente.email }}</span> </p>
        <p>Celular:<br> <span class="minor-text">{{ paciente.celular }}</span> </p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Dados sobre a primeira crise
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="dados_ini; else nodata">
        <div class="dados-label-box">
          <p class="dados-label">data: </p>
          <p class="minor-text"> {{ dados_ini.primeira_crise }} </p>
        </div>
        <div class="dados-label-box">
          <p class="dados-label">Intolerâncias:</p>
          <p class="minor-text"> {{ dados_ini.intolerancia }} </p>
        </div>
        <div class="dados-label-box">
          <p class="dados-label">Situação dos sintomas:</p>
          <p class="minor-text"> {{ dados_ini.situacao_sintoma }} </p>
        </div>
        <!-- array de sintomas -->
        <div class="dados-label-box">
          <p class="dados-label">Sintomas:</p>
          <div class="sintomas-box">
            <span class="minor-text" *ngFor="let sintoma of dados_ini.array_agg"> <b>-</b>&nbsp;{{ sintoma }}</span>
          </div>
        </div>  
      </div>
      <ng-template #nodata>
        <ion-item class="minor-text">Dados não encontrados</ion-item>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>