<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Ficha do Paciente</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>  
    <ion-card-header>
        <h2 color="black">{{ paciente.nome }} <!--, {{ paciente.idade}} --></h2>
    </ion-card-header>
    <ion-card-content class="dados-paciente">
      <img src="../../../assets/perfil_generico2.png" alt="" class="img-perfil">
      <div>
        <p>Nascido(a) em: {{ paciente.dt_nasc }} </p>
        <p>Email: {{ paciente.email }} </p>
        <p>Celular: {{ paciente.celular }}</p>
        <p>Sexo: {{ paciente.sexo }} </p>
      </div>
    </ion-card-content>
    <ion-card-content>
      <ion-item *ngIf="dados_ini">
        <p> {{ dados_ini.primeira_crise }} </p>
        <p> {{ dados_ini.situacao_sintoma }} </p>
        <p> {{ dados_ini.intolerancia }} </p>
        <!-- array de sintomas -->
        <p *ngFor="let sintoma of dados_ini.array_agg"> {{ sintoma }} </p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>