<ion-header>
  <ion-toolbar>
      <ion-title>
          Cadastro
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <form [formGroup]="dadosUser">
      
    <ion-item padding-horizontal>
       <ion-label class="label" position="stacked">Nome</ion-label>
       <ion-input type="text" name="nome" id="0" formControlName="nome" placeholder="Informe seu nome" ngModel required></ion-input>
    </ion-item>
    <ion-item padding-horizontal>
        <ion-label class="label" position="stacked">Email</ion-label>
        <ion-input name="email" id="1" formControlName="email" type="Email" placeholder="Informe seu email" ngModel required></ion-input>
     </ion-item>
     <ion-item padding-horizontal>

        <ion-label class="label" position="stacked">Data de Nascimento</ion-label>
        <ion-datetime backdropDismiss name="datanasc" id="2" formControlName="datanasc" display-format="D MMM, YYYY" month-names="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro" month-short-names="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez" picker-format="D MMMM YYYY" ngModel required></ion-datetime>
      </ion-item>
      <ion-item padding-horizontal>
        <ion-label class="label" position="stacked">Celular</ion-label>
        <ion-input name="celular" id="3" formControlName="celular" type="number" placeholder="Informe seu celular" ngModel required></ion-input>
     </ion-item>
     <ion-item padding-horizontal>
        <ion-label class="label" position="stacked">CPF</ion-label>
        <ion-input type="number" size="11" formControlName="cpf" name="cpf" id="4" placeholder="Informe seu CPF (apenas números)" ngModel required></ion-input>
     </ion-item>
     <ion-item padding-horizontal>
        <ion-label class="label" position="stacked">Senha</ion-label>
        <ion-input name="senha" type="password" id="5" formControlName="senha" placeholder="Escolha sua senha" ngModel required></ion-input>
     </ion-item>
     <ion-item padding-horizontal>
        <ion-label class="label" position="stacked">Senha*</ion-label>
        <ion-input name="confirmasenha" type="password" formControlName="confirmasenha" placeholder="Redigite sua senha" ngModel required></ion-input>
     </ion-item>
     <ion-button padding-horizontal class="button" fill="outline" color="verdemud4" expand="block">Próximo</ion-button>
     </form>
   </ion-content>
