
ion-label {
    color:  #165044ff !important; 
}

p {
    font-size: 0.8em;
    color: #989aa2;
}


ion-slide >:first-child{
    width: 100%;
    height: inherit;
}

#slide1
{
    height: inherit !important;
}

#slide3
{
    height:fit-content !important;
}

ion-slides {
    --bullet-background: #989aa2;
    --bullet-background-active: #165044ff; 
    height: 100%;
}