<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Sessões Ativas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item tappable routerLink="/cadastro">
    <ion-avatar slot="start">
      <img src="assets/logoMudAnalise.png">
    </ion-avatar>
    <ion-label>
      <h2 *ngIf="profissional">
        <strong> {{profissional.nome}}</strong>
      </h2>
      <p *ngIf="profissional"> <small>CRP: </small> {{profissional.crp}}</p>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button routerLink="/cadastro">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
      <!-- <ion-button class="tamanho" routerLink="/alterar-senha">
        <ion-icon name="key"></ion-icon>
        <ion-icon name="lock"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-item>

  <ion-card color="claro">
    <ion-item color="claro">
      <ion-label color="branco"><strong>Nova Sessão / Pareamento</strong> </ion-label>
      <!-- <ion-button fill="outline" slot="end" shape="round" color="branco" (click)="addSessao()"> -->
      <ion-button fill="outline" slot="end" shape="round" color="branco" routerLink="/auth">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-item>
    <!--Lista de Pacientes-->
  </ion-card>

  <ion-card>
    <ion-list>
      <div *ngIf="noSess == true" padding style="text-align: center;">
        nenhuma sessão ativa no momento
      </div>
      <ion-item-sliding *ngFor="let sessao of sessoes">
        <ion-item tappable  (click)="abreSessao(sessao)">
          <ion-avatar slot="start">
            <img src="assets/perfil_generico.png">
          </ion-avatar>
          <div>
            <ion-label><strong>{{sessao.nome}}</strong></ion-label>
            <ion-label>
              <small>CPF: </small> {{sessao.cpf}}
            </ion-label>
          </div>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)='alertaDeletar(sessao.id_sessao)'>
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
  <div *ngIf="existe===1">
    <ion-card>
      <ion-card-content>
       <strong>Carregando dados:</strong> 
        <ion-spinner name="crescent" slot="end"> </ion-spinner>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>