<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Sessões Ativas</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="claro">
    <ion-item color="claro">
      <ion-label color="branco"><strong>Nova Sessão / Pareamento</strong> </ion-label>
      <ion-button fill="outline" slot="end" shape="round" color="branco" routerLink="/auth">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-item>
    <!--Lista de Pacientes-->
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item-sliding>
        <ion-item tappable routerLink="/tabs">
          <ion-avatar slot="start">
            <img src="https://cdn.iconscout.com/icon/free/png-256/avatar-373-456325.png">
          </ion-avatar>
          <ion-label>Paciente 1</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="alertaDeletar()">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <!--Paciente 2-->
      <ion-item-sliding>
        <ion-item tappable routerLink="/tabs">
          <ion-avatar slot="start">
            <img src="https://cdn.iconscout.com/icon/free/png-256/avatar-375-456327.png">
          </ion-avatar>
          <ion-label>Paciente 1</ion-label>
        </ion-item>
        <ion-item-options side="end" (click)="alertaDeletar()">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <!--Paciente 3-->
      <ion-item-sliding>
        <ion-item tappable routerLink="/tabs">
          <ion-avatar slot="start">
            <img src="https://cdn.iconscout.com/icon/free/png-256/avatar-372-456324.png">
          </ion-avatar>
          <ion-label>Paciente 1</ion-label>
        </ion-item>
        <ion-item-options side="end" (click)="alertaDeletar()">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <!-- ITEM COM BOTAO QUE REDIRECIONA PARA O HOME PSIC
         <ion-item-sliding>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://cdn.iconscout.com/icon/free/png-256/avatar-375-456327.png">
          </ion-avatar>
          <ion-label>Paciente 1</ion-label>
          <ion-buttons slot="end">
            <ion-button routerLink="/tabs" side="end">
              <ion-icon name="eye"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>>
        <ion-item-options side="end" (click)="alertaDeletar()">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      -->
    </ion-list>
  </ion-card>

</ion-content>