<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Mural</ion-title>
    <!--

  <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>

    -->
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card class="card-1">
    <ion-item>
      <ion-icon name="man" slot="start"></ion-icon>
      <ion-label><strong>Meditação</strong></ion-label>
    </ion-item>

    <ion-card-content>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe consequuntur officia magni, quod atque, aut eum mollitia placeat delectus fugit nostrum sapiente hic tempore vitae voluptatibus perspiciatis, quas voluptas ad.


    </ion-card-content>
  </ion-card>

  <ion-card class="card-2">
    <ion-item>
      <ion-icon name="flask" slot="start"></ion-icon>
      <ion-label><strong>Remédios</strong></ion-label>
    </ion-item>

    <ion-card-content>
      The modal is lazy loaded, BUT, it will not be loaded when you open it, as you probably would except, but rather
      when the module, where the modal’s module is use, will be loaded.


    </ion-card-content>
  </ion-card>


  <!-- CARDS -->
  <ion-item>
    <ion-label position="stacked">Notes</ion-label>
    <ion-item>
      <ion-label position="stacked">Título <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" id="1" name="inserirtitulo"></ion-input>
    </ion-item>
    <ion-textarea id="2" name="inserirtxt"></ion-textarea>
    <ion-button (click)="inserirMural()" size="small">Adicionar</ion-button>
  </ion-item>
</ion-content>