.card-1{
    --ion-item-background: 	#ffffba;
    font-weight: 600;
    ion-icon{
        color: black;
    }
}

.card-2{
    --ion-item-background: 	#baffc9;
    font-weight: 600;

    ion-icon{
        color: black;
    }
}

#poda
{
    width: 100%;
}

#cardoo
{
    width: 100%;
}

#cardo2
{
    width: 100%;
}

#divo1
{
    padding-top: 15px;
    height: 40px;
    width: 140%;
}

#divo2
{
    padding-top: 15px;
    height: 40px;
    width: 160%;
}

#icon1
{
    margin-left: 265px; 
}

#icon2
{
    margin-left: 185px; 
}

#ito
{
    width: 100%;
}