.card-1{
    --ion-item-background: 	#ffffba;
    font-weight: 600;
    ion-icon{
        color: black;
    }
}

.card-2{
    --ion-item-background: 	#baffc9;
    font-weight: 600;

    ion-icon{
        color: black;
    }
}

<<<<<<< HEAD
<<<<<<< HEAD
#potao
{
    height: 40px;
}
=======
>>>>>>> parent of 7d2e14b... Merge remote-tracking branch 'origin/master'
=======
#but
{
    height: 40px;
}

#carditos
{
    width: 100%;
}
>>>>>>> parent of fc87909... Revert "Merge branch 'master' of https://github.com/bibarTheDev/TCC-lindo"
