.card-1{
    --ion-item-background: 	#ffffba;
    font-weight: 600;
    ion-icon{
        color: black;
    }
}

.card-2{
    --ion-item-background: 	#baffc9;
    font-weight: 600;

    ion-icon{
        color: black;
    }
}

#cardoo
{
    width: 100%;
}
