<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Relatório de Crise</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <ion-card-header>
      Gráfico de Crise I
    </ion-card-header>
    <img src="assets/imagensGraficos/g1.PNG" alt="">
  </ion-card>
  <ion-card>
      <ion-card-header>
          Gráfico de Crise II
        </ion-card-header>
    <img src="assets/imagensGraficos/g2.PNG" alt="">

  </ion-card> -->

  <ion-card>
    <ion-item>
      Crises do paciente:
      <strong>{{user_sessao.nome}}</strong>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="ion-padding">
        <ngx-charts-bar-vertical (window:resize)="onResize($event)" [view]="view" [results]="data" xAxis="true"
          yAxis="true" legend="false" legendTitle="Meses" showXAxisLabel="true" showYAxisLabel="true" xAxisLabel="Meses"
          yAxisLabel="Crises por Mês">
        </ngx-charts-bar-vertical>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Mês XX - Detalhes
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quibusdam, quidem exercitationem veritatis
      officiis enim et. A eligendi officiis rerum laboriosam ducimus ratione aspernatur natus consequatur! Consequuntur
      quaerat doloremque quam.
    </ion-card-content>
  </ion-card>


</ion-content>