<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Relatório de Crise</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Gráfico de Crise I
    </ion-card-header>
    <img src="assets/imagensGraficos/g1.PNG" alt="">
  </ion-card>
  <ion-card>
      <ion-card-header>
          Gráfico de Crise II
        </ion-card-header>
    <img src="assets/imagensGraficos/g2.PNG" alt="">

  </ion-card>



</ion-content>