.Ifram{
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 10%;
    height: 60%;
    width: 100%;
}

.bott{
    margin-left: 10%;
    margin-right: 15%;
    padding-top: 5%;
    width: 35%;
    height: 10%; 
}
.des{
    font-size: 105%;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 5%;
}

.ti{
    margin-left: 29%;
    margin-right: 29%;
}
