<ion-header >
  <ion-toolbar color="verdemud3">
    <ion-title class="ti"><b>ModalMind</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="wrap-all">
    <div class="des">A seguir um breve vídeo sobre o conceito de mindfulness em essência e um exercicío prático descrito.</div>
    <iframe class="Ifram" width="610" height="343" src="https://www.youtube.com/embed/hn3J-d44r94" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <div  class="bott" shape="round" expand="full"  (click)="close1()">Fechar</div>
</div>

</ion-content>
