<ion-header>
  <ion-toolbar color="verdemud3">
    <ion-title id="title">
     Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button padding-horizontal color="verdemud2" fill="outline" (click)="relatcrise()" id="relCri">
      <ion-img src="\assets\alert.png"id="iconAviso"></ion-img>
      <ion-label id="rc">Relatar crise</ion-label> 
  </ion-button>
  <ion-button (click)="relatsem()" padding-horizontal fill="outline" color="verdemud2" id="regSem">
      <ion-img src="\assets\relat.png" id="iconPasta"></ion-img>
    <ion-label id="rs" >Relatório Semanal</ion-label>   
  </ion-button>

</ion-content>
