<ion-header>
  <ion-toolbar color="verdemud3">
    <ion-title id="title">
     Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button padding-horizontal color="verdemud2" id="relCri">
      <ion-img src="\assets\avisoIcon.png"id="iconAviso"></ion-img>
      <ion-label id="rc">Relatar crise</ion-label> 
  </ion-button>
  <ion-button padding-horizontal color="verdemud2" id="regSem">
      <ion-img src="\assets\aaa.png" id="iconPasta"></ion-img>
    <ion-label id="rs" (click)="iniciaRelat()">Registro semanal</ion-label>   
  </ion-button>

</ion-content>
