.child-item{
    --ion-item-background: #b8d7eb;
    --padding-start: 8px;
    --inner-padding-end: 8px;
    margin-bottom: 5px;
}
.nice{
    background-color: aquamarine;

}
.my-nav {
    list-style-type: disc;
  }
