<ion-header>
    
  <ion-toolbar color="verdemud3">
      <ion-icon (click)="pagsessao()" id="cog" name="reverse-camera"></ion-icon>
      <ion-icon (click)="sair()" id="exit" name="exit"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <form [formGroup]="perfil">
      <img id="img" src="../../assets/perfilmud.png" />
    <ion-card-header>
      <ion-card-title (ionChange)="ativa()" style="font-size: 1.5rem;"><ion-input formControlName="nome" value="{{nome}}" type="text" name="nome" id="6"></ion-input></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        
        <ion-item>
          <ion-label class="label" position="stacked"><ion-icon name="body"></ion-icon> CPF</ion-label>
          <ion-input value="{{cpf}}" (ionChange)="ativa()" formControlName="cpf" type="text" name="nome" id="5" placeholder="Informe seu CPF"></ion-input>
        </ion-item>
      
      </ion-list>
    </ion-card-content>
  </form>
  </ion-card>

  <ion-card>
    <form [formGroup]="perfil">
    <img id="img" src="../../assets/perfilmud.png" />
  <ion-card-header>
    <ion-card-title (ionChange)="ativa()" style="font-size: 1.5rem;"><ion-input formControlName="nome" value="{{nome}}" type="text" name="nome" id="6"></ion-input></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      
      <ion-item>
        <ion-label class="label" position="stacked"><ion-icon name="body"></ion-icon> CPF</ion-label>
        <ion-input value="{{cpf}}" (ionChange)="ativa()" formControlName="cpf" type="text" name="nome" id="5" placeholder="Informe seu CPF"></ion-input>
      </ion-item>

    
    </ion-list>
  </ion-card-content>
</form>
</ion-card>

<ion-button (click)="salvarPerfil()" id="btnSalvar" expand="block" shape="round" style="margin-top: 1rem;" disabled="{{desativado}}">Salvar Perfil</ion-button>
  

</ion-content>

