<ion-header>
    
  <ion-toolbar color="verdemud3">
      <ion-title>Contatos</ion-title>
      <ion-icon (click)="sair()" id="exit" name="exit"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="contato1">
  <ion-card-header>
    <img id="img" src="../../assets/perfilmud.png" />
    <ion-card-title (ionChange)="ativa()" style="font-size: 1.5rem;"><ion-input formControlName="nome1" value="{{nome1}}" type="text" name="nome1" id="43"></ion-input></ion-card-title>
    <ion-card-subtitle (ionChange)="ativa()" style="margin-top: -1rem; margin-bottom: -2rem; font-size: 1.2rem;"><ion-input formControlName="num1" [brmasker]="{form: contato1.get('num1'), phone: true}" value="{{num1}}" type="tel" name="num1" id="44"></ion-input></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
   
  </ion-card-content>
</form>
</ion-card>

<div id="cont2">
<ion-card>
  <form [formGroup]="contato2">
  <img id="img" src="../../assets/perfilmud.png" />
<ion-card-header>
  <ion-card-title (ionChange)="ativa()" style="font-size: 1.5rem;"><ion-input formControlName="nome2" value="{{nome2}}" type="text" name="nome2" id="45"></ion-input></ion-card-title>
  <ion-card-subtitle (ionChange)="ativa()" style="margin-top: -1rem; margin-bottom: -2rem; font-size: 1.2rem;"><ion-input formControlName="num2" [brmasker]="{form: contato2.get('num2'), phone: true}" value="{{num2}}" type="tel" name="num2" id="46"></ion-input></ion-card-subtitle>
</ion-card-header>
<ion-card-content>
   
</ion-card-content>

</form>
</ion-card>
</div>
<ion-button (click)="salvarContatos()" id="btnSalvar" expand="block" shape="round" style="margin-top: 1rem;" disabled="{{desativado}}">Salvar Perfil</ion-button>
  

</ion-content>

