.Ifram3{
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 10%;
    height: 60%;
    width: 100%;
}

// .bot{
//     margin-left: 10%;
//     margin-right: 15%;
//     padding-top: 5%;
//     width: 35%;
//     height: 10%; 
// }
.desc{
    font-size: 105%;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 5%;
    padding: 1%;
    border: 4px inset rgba(8, 165, 113, 0.5);
    
}

.tit{
    margin-left: 30%;
    margin-right: 30%;
}