<ion-header>
  <ion-toolbar color="verdemud3">
    <ion-title class="tit">Ansiedade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="wrap-all">
    <div class="desc">
      A seguir, um breve vídeo sobre ansiedade, e alguns métodos para controle e diminuição desta, baseados no método do
      psiquiatra Augusto Cury.
    </div>
    <iframe class="Ifram3" width="560" height="315" src="https://www.youtube.com/embed/kFsO-Lt3PzA" frameborder="0"
      allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <br>
  
    <div class="bot" shape="round" expand="full" (click)="close()">Fechar</div>
</div>

</ion-content>