<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Detalhes da crise</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/tab1">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item [attr.track]="'moderado' | lowercase" *ngIf="existe===1">
    <ion-card>
      <ion-card-header>
        <strong>Crise do dia {{crises.created_at}} - Detalhes</strong>
      </ion-card-header>
      <ion-card-content>
       OIE{{crises.intensidade}}
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-card *ngIf="existe===2">
    <ion-card-header>
      <strong> ERRO!</strong>
    </ion-card-header>
    <ion-card-content>
      Detalhes da Crise não disponíveis! O registro se encontra vazio ou foi corrompido.
    </ion-card-content>
  </ion-card>

  <div *ngIf="existe===1">
    <ion-card>
      <ion-card-content>
        <strong>Carregando dados:</strong>
        <ion-spinner name="crescent" slot="end"> </ion-spinner>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>