<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Detalhes da crise</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/tab1">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="cardao">
    <ion-item [attr.track]=" this.tipo | lowercase" lines="none">
      <ion-label>
        <ion-card-header>
          <!-- <strong> {{ crises.created_at}}</strong> -->
          <strong> this.tipo </strong>
        </ion-card-header>
        <ion-card-content>
          <div *ngIf="existe===1">
            <strong>Carregando dados:</strong>
            <ion-spinner name="crescent" slot="end"> </ion-spinner>
          </div>
          <div *ngIf="existe===2">
            Detalhes da Crise não disponíveis! O registro se encontra vazio ou foi corrompido.
          </div>
          <div *ngIf="existe===0">
            ta vindo os dados mas so isso msm
          </div>
        </ion-card-content>
      </ion-label>
    </ion-item>

  </ion-card>

</ion-content>