<ion-header>
  <ion-toolbar color="branco">
    <ion-title>Esqueci a senha ...</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Preencha o campo abaixo para receber sua senha esquecida no e-mail vinculado a sua conta profissional
    </ion-card-header>
    <form [formGroup]="formEsqueci">
      <ion-item>
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input formControlName="email" type="email" placeholder="..."></ion-input>
          <ng-container *ngFor="let erro of mensagens_validacao.email">  
          <span
            *ngIf="formEsqueci.get('email').hasError(erro.tipo) && (formEsqueci.get('email').dirty || formEsqueci.get('email').touched)"
            class="msg-erro">
            {{erro.mensagem}}
          </span>
        </ng-container>
      </ion-item>
    </form>
    <ion-button expand="block" color="escuro" (click)="sendEmail()" [disabled]="disableButton">
        <ion-icon name="send"></ion-icon>
      <ion-label>Enviar E-mail</ion-label>
    </ion-button>
  </ion-card>
</ion-content>