<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>

      <!-- <ion-card-title>Joana Silva Francisca</ion-card-title> -->
    </ion-card-header>
    <ion-item lines="none">
      <ion-avatar slot="start" >
        <img src="assets/perfil_generico.png">
      </ion-avatar>
        <div>
          <ion-label><strong>{{user_sessao.nome}}</strong></ion-label>
          <ion-label><small>CPF: </small>{{user_sessao.cpf}}</ion-label>
          <ion-buttons slot="end">
            <ion-button (click)=" callNow(1432274032)">
              <ion-icon slot="icon-only" name="call"></ion-icon>
            </ion-button>
            <ion-button routerLink="/ficha-paciente">
              <ion-icon slot="icon-only" name="person"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
    </ion-item>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Recursos</ion-label>
    </ion-list-header>
    <!-- <ion-item tappable routerLink="/ficha-paciente">
      <ion-icon slot="start" color="big" name="clipboard"></ion-icon>
      <ion-label>Ficha de Paciente</ion-label>
    </ion-item> -->
    <ion-item tappable routerLink="/grafico-semanal">
      <ion-icon slot="start" color="big" name="calendar"></ion-icon>
      <ion-label>Histórico de Relatório Semanal</ion-label>
    </ion-item>
    <ion-item tappable routerLink="/grafico-crise">
      <ion-icon slot="start" color="big" name="pulse"></ion-icon>
      <ion-label>Histórico de Relatório de Crise</ion-label>
    </ion-item>
  </ion-list>
</ion-content>