<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- 
    <ion-card-header>
      <ion-card-title>Joana Silva Francisca</ion-card-title>
    </ion-card-header> -->
    <ion-item lines="none">
      <!-- <ion-avatar slot="start" class="avatar" tappable routerLink="/ficha-paciente">
        <img src="assets/perfil_generico.png">
      </ion-avatar> -->
      <div slot="start">
        <ion-label><strong>{{user_sessao.nome}}</strong></ion-label>
        <ion-label><small>CPF: </small>{{user_sessao.cpf}}</ion-label>
      </div>
      <div slot="end" class="divao">
        <ion-buttons slot="end">
          <ion-button (click)="callNow()" class="botao">
            <ion-icon slot="icon-only" name="call"></ion-icon>
          </ion-button>
          <ion-button routerLink="/ficha-paciente" class="botao">
            <ion-icon slot="icon-only" name="person"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-item>
  </ion-card>
  <ion-list lines="none">
    <!-- <ion-list-header> 
      <ion-label>Recursos</ion-label>
    </ion-list-header> -->

    <ion-card>
      <ion-item tappable routerLink="/grafico-crise">
        <ion-icon slot="start" color="big" name="pulse"></ion-icon>
        <ion-label>Gráfico de crise</ion-label>
        <ion-buttons slot="end">
          <ion-button routerLink="/grafico-crise">
            <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card>
    <!--REFRESH!-->

    <ion-card>
      <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher> -->
      <ion-card-header>
        <ion-item lines="full">
          <ion-icon slot="start" color="big" name="calendar"></ion-icon>
          <ion-label>Histórico de Crises</ion-label>
        </ion-item>
      </ion-card-header>
      <div *ngIf="information">
        <ion-item tappable routerLink="/detalhes-crise" *ngFor="let item of information; let i = index;"
          [attr.track]="item.intensidade | lowercase" lines="full">
          <ion-label>
            <div>
              <h2>{{item.name}} - <strong>{{item.intensidade}}</strong></h2>
              <p>Durou {{item.duracao}} minutos</p>
            </div>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button routerLink="/detalhes-crise" (click)='onClick(item.criseId,item.intensidade)'>
              <ion-icon slot="icon-only" name="arrow-dropright"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>


      </div>

      <!-- <ion-item tappable routerLink="/detalhes-crise" *ngFor="let c of crises" [attr.track]="c.tipo | lowercase"
        lines="full">
        <ion-label>
          <div>
            <h2>{{c.data}} - <strong>{{c.tipo}}</strong></h2>
            <p>Durou XX minutos</p>
          </div>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button routerLink="/detalhes-crise" (click)='onClick(1,c.tipo)'>
            <ion-icon slot="icon-only" name="arrow-dropright"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item> -->
    </ion-card>


  </ion-list>
</ion-content>