.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.avatar-home {
  width: auto !important;
  height: auto !important;
  //max-width: 125px !important; //any size
  max-height: 125px !important; //any size
  margin: auto;
}


.avatar{
  border-radius: 5%;
  width: 15%;
  height: 100%;
}

.botao{
 margin: auto; 

}

.divao{
  padding: 0%;
  margin: 0%;
}

$tipos: (
  // MUD
  leve: #00ff80,
  moderado:#ffff00,
  forte: #ff0000,
  extremo: #000000
  );




@each $track,
$value in map-remove($tipos) {
  ion-item[track='#{$track}'] ion-label {
    border-left: 10px solid $value;
    padding-left: 5px;
  }
}
