<ion-header>
  <ion-toolbar color="escuro">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- 
    <ion-card-header>
      <ion-card-title>Joana Silva Francisca</ion-card-title>
    </ion-card-header> -->
    <ion-item lines="none">
      <!-- <ion-avatar slot="start" class="avatar" tappable routerLink="/ficha-paciente">
        <img src="assets/perfil_generico.png">
      </ion-avatar> -->
      <div slot="start">
        <ion-avatar slot="start" routerLink="/ficha-paciente" class="botao">
          <img src="assets/perfil_psi.png">
        </ion-avatar>
      </div>
      <div>
        <ion-label><strong>{{user_sessao.nome}}</strong></ion-label>
        <ion-label><small>CPF: </small>{{user_sessao.cpf}}</ion-label>
      </div>
      <div class="divao">
        <ion-buttons slot="end">
          <ion-button (click)="callNow()" class="botao">
            <ion-icon slot="icon-only" name="call"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-item>
  </ion-card>

  <ion-list>
    <ion-card>
        <ion-card-header>
          <ion-item tappable routerLink="/tabs/tab1" lines="full" class="ion-align-items-center">
            <ion-icon slot="start" color="big" name="stats"></ion-icon>
            <ion-label>Gráficos Sobre...</ion-label>
          </ion-item>
        </ion-card-header>
      <ion-item tappable routerLink="/grafico-crise">
        <ion-icon slot="start" color="big" name="pulse"></ion-icon>
        <ion-label>Crises</ion-label>
        <ion-buttons slot="end">
          <ion-button routerLink="/grafico-crise">
            <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item tappable routerLink="/grafico-semanal">
        <ion-icon slot="start" color="big" name="calendar"></ion-icon>
        <ion-label>Relatórios </ion-label>
        <ion-buttons slot="end">
          <ion-button routerLink="/grafico-semanal">
            <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card>

    <!--REFRESH!-->

    <ion-card *ngIf="information">
      <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher> -->
      <ion-card-header (click)="atualizaCrises()">
        <ion-item lines="full" class="ion-align-items-center">
          <ion-icon slot="start" color="big" name="medkit"></ion-icon>
          <ion-label>Histórico de Crises</ion-label>
        </ion-item>
      </ion-card-header>
      <div *ngFor="let item of information; let i = index;">
        <div>
          <ion-item tappable [routerLink]="'/detalhes-crise/'+item.criseId+'-'+item.intensidade" lines="full"
            *ngIf="item.duracao>0" [attr.track]="item.intensidade | lowercase">
            <ion-label>
              <div>
                <h2>{{item.name}} - <strong>{{item.intensidade}}</strong></h2>
                <p>Durou {{item.duracao}} minutos</p>
              </div>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button routerLink="/detalhes-crise">
                <ion-icon slot="icon-only" name="arrow-dropright"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </div>
      </div>

      <!-- <ion-item tappable routerLink="/detalhes-crise" *ngFor="let c of crises" [attr.track]="c.tipo | lowercase"
        lines="full">
        <ion-label>
          <div>
            <h2>{{c.data}} - <strong>{{c.tipo}}</strong></h2>
            <p>Durou XX minutos</p>
          </div>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button routerLink="/detalhes-crise" (click)='onClick(1,c.tipo)'>
            <ion-icon slot="icon-only" name="arrow-dropright"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item> -->
      <!-- <div *ngIf="existe===2" text-center>
        <strong>Sem dados para serem exibidos</strong>
      </div> -->
    </ion-card>
    <div *ngIf="existe===1">
      <ion-card>
        <ion-card-content>
          <strong>Carregando dados:</strong>
          <ion-spinner name="crescent" slot="end"> </ion-spinner>
        </ion-card-content>
      </ion-card>
    </div>
    <ng-template #noData>
      <div style="text-align: center"> nenhuma crise relatada </div>
    </ng-template>

  </ion-list>
</ion-content>