<ion-content>
  <ion-img id="logoLogin" src="../../assets/logomud.png"></ion-img>
  <h2 id="loginTitle"> Login </h2><br><br><br>

<!--ITEM EMAIL-->
<br><br><br><br><br><br><br><br><br><br><br>
<form [formGroup]="loginForm">
    <p *ngIf="submitAttempt" style="color: #ea6153;">Por favor, preencha todos os campos corretamente.</p>

<ion-item padding-horizontal>
  <ion-label position="stacked"> E-mail </ion-label>
  <ion-input #mail id="1"  [(ngModel)]="emai" size="11" placeholder="Insira seu email" name="email"  formControlName="email" type="Email" required> </ion-input>
</ion-item>  



<!--ITEM SENHA-->

<ion-item padding-horizontal>
  <ion-label position="stacked"> Senha </ion-label>
  <ion-input #enha id="2" [(ngModel)]="senh" size="11" placeholder="Insira sua senha" name="senha" type="password" formControlName="senha" required > </ion-input>
</ion-item>



<!--ESQUECI A SENHA, BOTAO DE ENTRAR E DIRECIONA CADASTRO-->

  <a routerLink="cadastro" id="esqSenha">Esqueci a senha</a>

<ion-button padding-horizontal class="btnEntrar" fill="outline" color="verdemud4" expand="block" (click)="login()" routerLink="/tabs">Entrar</ion-button>
</form>

<a routerLink="cadastro" id="hrefCadast" (click)="direcCadast()" padding-horizontal >Não possui uma conta? <b> Cadastre-se</b></a>

</ion-content>
