<ion-content>
  <ion-img id="logoLogin" src="../../assets/logomud.png"></ion-img>
  <h2 id="loginTitle"> Login </h2>

<ion-item padding-horizontal id="itemEmail">
  <ion-label position="stacked"> E-mail </ion-label>
  <ion-input> </ion-input>
</ion-item>  

<ion-item padding-horizontal id="itemSenha" >
  <ion-label position="stacked"> Senha </ion-label>
  <ion-input> </ion-input>
</ion-item>

  <a href="" id="esqSenha"> Esqueci a senha</a>

<ion-button id="btnEntrar"> Entrar </ion-button>

<a href="" id="hrefCadast" > Não possui uma conta? <b> Cadastre-se</b></a>

</ion-content>
