#logoLogin 
{
    width: 35%;
    position: relative;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

#loginTitle
{
    width: 17%;
    font-size: 110%;
    position: relative;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

#itemEmail
{
    top: 45%;
    width: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

#itemSenha
{
    top: 50%;
    width: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

#esqSenha
{
    width: 40%;
    margin: 0;
    position: absolute;
    top: 70%;
    font-size: 85%;
}

#btnEntrar
{
    width: 50%;
    position: relative;
    margin: 0;
    position: absolute;
    top: 83%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#hrefCadast
{
    width: 85%;
    position: relative;
    margin: 0;
    position: absolute;
    top: 97%;
    font-size: 12px;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}