#logoLogin 
{
    width: 35%;
    position: relative;
    margin: 0;
    position: absolute;
    top: 17%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

#loginTitle
{
    width: 18%;
    font-size: 130%;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

#itemEmail
{
    top: 60%;
    width: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

#itemSenha
{
    top: 60%;
    width: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

#esqSenha
{
    width: 40%;
    margin: 0;
    position: absolute;
    top: 63%;
    font-size: 85%;
    left: 58%;
    color: #2ca089ff;
}

.btnEntrar
{
    width: 80%;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%) 
}

#hrefCadast
{
    color:#2ca089ff;
    width: 85%;
    margin: 0;
    position: absolute;
    top: 92%;
    font-size: 80%;
}